/* Mobile: 320px—480px
iPads & tablets: 481px—768px
laptop: 769px—1024px 
Desktops: 1025px—1200px 
TV: 1201px-UP */

/* ------------- */
/* ----RESET---- */
/* ------------- */

* {
  /* border: 0.4px solid red; */
  /* border-radius: 0.4rem; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;
  color: white;
}

a,
button {
  cursor: pointer;
}

:link,
:visited,
li,
a {
  text-decoration: none
}

ul,
ol {
  list-style: none
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0
}

a img,
:link img,
:visited img {
  border: none
}

address {
  font-style: normal
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
}